.unoGameLogo {
    width: 5vw;
    height: auto;
}

.Game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 98vh;
}

.midScreen {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    width: 100%;
    height: 80vh;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
   
}

.deckPile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 160px;
     
    :nth-child(2){
        /* Haz que salga medio volteada a la derecha */
        transform: rotateZ(15deg);
        height: 140px;
        
    }

    
}

.turnDisplay{
    font-size: 2rem;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif; 
    margin-bottom: 10px;
    color: white;
    background-color: var(--bordoFondo);
    padding: 12px;
    border-radius: 50px;
    text-transform: capitalize;
}

:root {
    --bordoFondo: #6b0202;
}