body{
  background-color: #160101;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

button{
  background-color: transparent;
  border-color: transparent;
}

